In [166]:
def find_header_value(field, filename):
    # string = ''
    # Get first 6 lines
    with open(filename) as f:
        for line_no, line in enumerate(f): 
            if line.startswith(field):
                # Get the part of the string after the field name
                end_of_string = line[len(field):]
                string = end_of_string[:-1]
                # break
                return string, line_no

In [167]:
field = 'Name of te experiment = '
filename = '/Users/amash/Documents/Projects/Raptor/raptor_functions/raptor_functions/notebooks/24H 1 Control_14_15_26.28.txt'

In [39]:
find_header_value(field, filename)

In [75]:
field = 'Acquired data point per second = '
float(find_header_value(field, filename)[0])

4.0

In [40]:
import pandas as pd

In [54]:
df=pd.DataFrame([1,2,3,4])  

def add(x, i1, i2):  
    return x+i1+i2

In [56]:

df.apply(add,i1=3,i2=6)

    0
0  10
1  11
2  12
3  13

In [57]:
def get_exp_stage(time, data_points_per_sec=4, baseline=2, absorb=7, pause=1, desorb=5, flush=23):
    
    # data_points_per_sec: data point per second

    baseline_time = baseline*data_points_per_sec
    if time <= baseline_time:
        return 'baseline'
    absorb_time = baseline_time + absorb*data_points_per_sec
    if time <= absorb_time:
        return 'absorb'
    pause_time = absorb_time + pause*data_points_per_sec
    if time <= pause_time:
        return 'pause'
    desorb_time = pause_time + desorb*data_points_per_sec
    if time <= desorb_time:
        return 'desorb'
    flush_time = desorb_time + flush*data_points_per_sec
    if time <= flush_time:
        return 'flush'
    wait_time = flush_time + flush*data_points_per_sec
    if time <= wait_time:
        return 'wait'

In [22]:
from raptor_functions.supervised.datasets import get_data

In [73]:
df = get_data()

In [74]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,316.594,315.854,315.735,313.180,307.498,315.926,316.188,...,103.786,103.404,103.691,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,316.928,315.854,316.188,313.324,307.331,315.997,316.499,...,103.882,103.357,103.595,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,315.711,316.045,315.759,313.514,307.403,315.950,315.926,...,104.001,103.452,103.643,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,316.499,315.854,315.329,312.536,308.095,315.854,316.403,...,104.073,103.380,103.619,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,317.048,315.568,315.520,312.679,307.188,315.926,316.451,...,103.929,103.357,103.428,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [72]:
df['timesteps'].apply(get_exp_stage, baseline=0, absorb=7, pause=1, desorb=5, flush=23)

0      baseline
1        absorb
2        absorb
3        absorb
4        absorb
         ...
148        wait
149        wait
150        wait
151        wait
152        wait
Name: timesteps, Length: 21114, dtype: object

In [6]:
def get_exp_stage(time, data_points_per_sec=4, baseline=2, absorb=7, pause=1, desorb=5, flush=23):
    
    # data_points_per_sec: data point per second
    baseline_time = baseline*data_points_per_sec

    if time <= baseline_time:
        return 'baseline'
    absorb_time = baseline_time + absorb*data_points_per_sec
    if time <= absorb_time:
        return 'absorb'
    pause_time = absorb_time + pause*data_points_per_sec
    if time <= pause_time:
        return 'pause'
    desorb_time = pause_time + desorb*data_points_per_sec
    if time <= desorb_time:
        return 'desorb'
    flush_time = desorb_time + flush*data_points_per_sec
    if time <= flush_time:
        return 'flush'
    wait_time = flush_time + flush*data_points_per_sec
    if time <= wait_time:
        return 'wait'

In [9]:
2*4

8

In [14]:
import pandas as pd

data = [{"low": 0, "high": 10, "name": "a"},
        {"low": 10, "high": 20, "name": "b"},
        {"low": 20, "high": 30, "name": "c"},
        {"low": 30, "high": 40, "name": "d"},
        {"low": 40, "high": 50, "name": "e"},]

myDF = pd.DataFrame(data)

#data to be binned
mySeries = pd.Series([5.7, 30.4, 21, 35.1])

#create bins from original data
bins = list(myDF["high"])

In [28]:
baseline = 2
data_points_per_sec = 4

In [29]:
def offset_one_sample(df_temp):

    datapoints = baseline * data_points_per_sec
    avg_baseline = df_temp[SENSOR_FEATURES].iloc[:datapoints].mean().values

    df_temp[SENSOR_FEATURES] = df_temp[SENSOR_FEATURES].apply(lambda row: row - avg_baseline, axis=1)

    return df_temp

In [75]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,316.594,315.854,315.735,313.180,307.498,315.926,316.188,...,103.786,103.404,103.691,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,316.928,315.854,316.188,313.324,307.331,315.997,316.499,...,103.882,103.357,103.595,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,315.711,316.045,315.759,313.514,307.403,315.950,315.926,...,104.001,103.452,103.643,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,316.499,315.854,315.329,312.536,308.095,315.854,316.403,...,104.073,103.380,103.619,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,317.048,315.568,315.520,312.679,307.188,315.926,316.451,...,103.929,103.357,103.428,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [76]:
SENSOR_FEATURES = ['sensor_1','sensor_2','sensor_3','sensor_4','sensor_5',
 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13',
 'sensor_14', 'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19', 'sensor_20', 'sensor_21', 'sensor_22', 'sensor_23', 'sensor_24']

In [128]:
df_off = offset_one_sample(df)

In [129]:
df_off.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,-0.06575,0.09275,0.155,0.0445,0.006125,-0.030125,...,-0.110625,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,-0.06575,0.54575,0.299,-0.1225,0.077125,0.280875,...,-0.014625,-0.044375,-0.009125,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,-0.79675,0.12525,0.11675,0.489,-0.0505,0.030125,-0.292125,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,-0.00875,-0.06575,-0.31325,-0.489,0.6415,-0.065875,0.184875,...,0.176375,-0.021375,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,-0.35175,-0.12225,-0.346,-0.2655,0.006125,0.232875,...,0.032375,-0.044375,-0.176125,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [40]:
print(df_off['sensor_1'].iloc[0])
print(df_off['sensor_1'].iloc[0])

0.08624999999999261
0.08624999999999261

In [38]:
df_off['sensor_1'].iloc[0]

0.08624999999999261

In [94]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,NaN,0.09275,0.155,0.0445,0.006125,NaN,...,NaN,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,NaN,0.54575,0.299,NaN,0.077125,0.280875,...,NaN,NaN,NaN,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,NaN,0.12525,0.11675,0.489,NaN,0.030125,NaN,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,NaN,NaN,NaN,NaN,0.6415,NaN,0.184875,...,0.176375,NaN,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,NaN,NaN,NaN,NaN,0.006125,0.232875,...,0.032375,NaN,NaN,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [147]:
df = get_data('handheld_data')

In [124]:
def fillna_columns(df_temp):

    num = df_temp._get_numeric_data()
    num_cols = num.columns
    string_cols = list(set(df_temp.columns) - set(num_cols))
    num[num < 0] = np.nan
    num_df = num.interpolate(limit=100, limit_direction='both')
    df = df_temp[string_cols].join(num_df)
    return df

In [130]:
df_x = fillna_columns(df_off)

In [134]:
df_x.shape

(2913732, 34)

In [135]:
df_off.shape

(21114, 34)

In [132]:
df_x.head()

,measurement_stage,exp_name,filename,date_exp,result,datetime_exp,exp_unique_id,timesteps,sensor_1,sensor_2,...,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,humidity,time_elapsed
0,baseline,39A,39A_13_31_00.03.txt,20/01/2022,Covid,2022-01-20 13:31:47.000,0,0.0,0.086250,0.12525,...,0.059625,0.050375,0.104875,0.015125,0.033125,0.104375,0.002625,0.086875,52.467,0.0
0,baseline,39A,39A_13_31_00.03.txt,20/01/2022,Covid,2022-01-20 13:31:47.000,1,0.0,0.206250,0.19725,...,0.107625,0.050375,0.080875,0.086125,0.104125,0.056375,0.034625,0.038875,50.301,0.0
0,baseline,39A,39A_13_31_00.03.txt,20/01/2022,Covid,2022-01-20 13:31:47.000,2,0.0,0.229250,0.06000,...,0.282292,0.050375,0.151875,0.039125,0.009125,0.104375,0.026625,0.014875,27.335,0.0
0,baseline,39A,39A_13_31_00.03.txt,20/01/2022,Covid,2022-01-20 13:31:47.000,3,0.0,0.261583,0.38825,...,0.107125,0.074375,0.032875,0.022958,0.056125,0.080375,0.002625,0.038875,40.961,0.0
0,baseline,39A,39A_13_31_00.03.txt,20/01/2022,Covid,2022-01-20 13:31:47.000,4,0.0,0.229250,0.16825,...,0.155125,0.050375,0.104875,0.091125,0.033125,0.152375,0.002625,0.078875,42.405,0.0

In [133]:
df_off.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,NaN,0.09275,0.155,0.0445,0.006125,NaN,...,NaN,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,NaN,0.54575,0.299,NaN,0.077125,0.280875,...,NaN,NaN,NaN,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,NaN,0.12525,0.11675,0.489,NaN,0.030125,NaN,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,NaN,NaN,NaN,NaN,0.6415,NaN,0.184875,...,0.176375,NaN,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,NaN,NaN,NaN,NaN,0.006125,0.232875,...,0.032375,NaN,NaN,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [136]:

def rename_columns(df):


    for col in df.columns:
        if 'Sen' in col:
            new_col = re.findall('\d+', col)[0]
            df.rename(columns={col:f'sensor_{new_col}'}, inplace=True)
    df.rename(columns={'Data Points': 'timesteps'}, inplace=True)
    df.rename(columns={f'Humidity (%r.h.)':'humidity'}, inplace=True)

    return df

In [148]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_23,sensor_24,Humidity (r.h.),measurement_stage,date_exp,time_elapsed,datetime_exp_start,datetime_exp,filename,result
0,0,Test 24,1,131.938,132.443,177.444,178.157,44.974,44.508,219.374,...,143.288,142.050,46.07,baseline,21/3/2022,0.00,14:12:54,2022-03-21 14:12:54.000,5 NegTest_3_20220321_14_12.txt,Control
1,0,Test 24,2,133.078,133.972,177.444,178.694,45.131,44.611,219.607,...,142.874,141.914,46.07,baseline,21/3/2022,0.25,14:12:54,2022-03-21 14:12:54.250,5 NegTest_3_20220321_14_12.txt,Control
2,0,Test 24,3,131.812,132.064,177.622,178.694,45.183,44.663,219.841,...,143.288,141.914,46.07,baseline,21/3/2022,0.50,14:12:54,2022-03-21 14:12:54.500,5 NegTest_3_20220321_14_12.txt,Control
3,0,Test 24,4,131.059,132.064,177.444,178.694,45.183,44.663,219.607,...,142.599,141.368,46.07,baseline,21/3/2022,0.75,14:12:54,2022-03-21 14:12:54.750,5 NegTest_3_20220321_14_12.txt,Control
4,0,Test 24,5,131.435,131.938,177.622,178.694,45.131,44.663,219.607,...,142.187,140.825,46.07,baseline,21/3/2022,1.00,14:12:54,2022-03-21 14:12:55.000,5 NegTest_3_20220321_14_12.txt,Control

In [141]:
df.rename(columns={'timesteps':'Data Points', 'humidity':f'Humidity (%r.h.)'})

,exp_unique_id,exp_name,Data Points,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,Humidity (%r.h.),measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,NaN,0.09275,0.155,0.0445,0.006125,NaN,...,NaN,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,NaN,0.54575,0.299,NaN,0.077125,0.280875,...,NaN,NaN,NaN,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,NaN,0.12525,0.11675,0.489,NaN,0.030125,NaN,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,NaN,NaN,NaN,NaN,0.6415,NaN,0.184875,...,0.176375,NaN,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,NaN,NaN,NaN,NaN,0.006125,0.232875,...,0.032375,NaN,NaN,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,137,57b,148.0,NaN,0.10125,0.37875,0.489,4.7005,NaN,NaN,...,NaN,NaN,NaN,27.065,flush,20/01/2022,37.00,2022-01-20 16:13:32.000,57b_16_12_08.03.txt,Control
149,137,57b,149.0,0.32525,NaN,0.76075,0.752,4.5335,NaN,0.089875,...,NaN,NaN,NaN,32.524,flush,20/01/2022,37.25,2022-01-20 16:13:32.250,57b_16_12_08.03.txt,Control
150,137,57b,150.0,0.20625,0.26825,0.33075,0.776,4.8915,NaN,NaN,...,NaN,0.002625,NaN,41.007,flush,20/01/2022,37.50,2022-01-20 16:13:32.500,57b_16_12_08.03.txt,Control
151,137,57b,151.0,0.30125,NaN,NaN,0.943,4.6525,0.483125,0.256875,...,NaN,0.026625,0.014875,49.128,flush,20/01/2022,37.75,2022-01-20 16:13:32.750,57b_16_12_08.03.txt,Control
152,137,57b,152.0,NaN,0.07725,0.33075,0.680,4.3655,NaN,NaN,...,NaN,NaN,NaN,53.324,flush,20/01/2022,38.00,2022-01-20 16:13:33.000,57b_16_12_08.03.txt,Control

In [140]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,NaN,0.09275,0.155,0.0445,0.006125,NaN,...,NaN,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,NaN,0.54575,0.299,NaN,0.077125,0.280875,...,NaN,NaN,NaN,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,NaN,0.12525,0.11675,0.489,NaN,0.030125,NaN,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,NaN,NaN,NaN,NaN,0.6415,NaN,0.184875,...,0.176375,NaN,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,NaN,NaN,NaN,NaN,0.006125,0.232875,...,0.032375,NaN,NaN,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid

In [142]:
def rename_columns(df):


    for col in df.columns:
        if 'Sen' in col:
            new_col = re.findall('\d+', col)[0]
            df.rename(columns={col:f'sensor_{new_col}'}, inplace=True)
    df.rename(columns={'Data Points': 'timesteps', f'Humidity ( %r.h.)':'humidity'}, inplace=True, regex=True)

    return df

In [143]:
rename_columns(df)

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_22,sensor_23,sensor_24,humidity,measurement_stage,date_exp,time_elapsed,datetime_exp,filename,result
0,0,39A,0.0,0.08625,NaN,0.09275,0.155,0.0445,0.006125,NaN,...,NaN,0.002625,0.086875,52.467,baseline,20/01/2022,0.00,2022-01-20 13:31:47.000,39A_13_31_00.03.txt,Covid
1,0,39A,1.0,0.42025,NaN,0.54575,0.299,NaN,0.077125,0.280875,...,NaN,NaN,NaN,45.112,baseline,20/01/2022,0.25,2022-01-20 13:31:47.250,39A_13_31_00.03.txt,Covid
2,0,39A,2.0,NaN,0.12525,0.11675,0.489,NaN,0.030125,NaN,...,0.104375,0.050625,0.038875,35.637,baseline,20/01/2022,0.50,2022-01-20 13:31:47.500,39A_13_31_00.03.txt,Covid
3,0,39A,3.0,NaN,NaN,NaN,NaN,0.6415,NaN,0.184875,...,0.176375,NaN,0.014875,28.102,baseline,20/01/2022,0.75,2022-01-20 13:31:47.750,39A_13_31_00.03.txt,Covid
4,0,39A,4.0,0.54025,NaN,NaN,NaN,NaN,0.006125,0.232875,...,0.032375,NaN,NaN,26.794,baseline,20/01/2022,1.00,2022-01-20 13:31:48.000,39A_13_31_00.03.txt,Covid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,137,57b,148.0,NaN,0.10125,0.37875,0.489,4.7005,NaN,NaN,...,NaN,NaN,NaN,27.065,flush,20/01/2022,37.00,2022-01-20 16:13:32.000,57b_16_12_08.03.txt,Control
149,137,57b,149.0,0.32525,NaN,0.76075,0.752,4.5335,NaN,0.089875,...,NaN,NaN,NaN,32.524,flush,20/01/2022,37.25,2022-01-20 16:13:32.250,57b_16_12_08.03.txt,Control
150,137,57b,150.0,0.20625,0.26825,0.33075,0.776,4.8915,NaN,NaN,...,NaN,0.002625,NaN,41.007,flush,20/01/2022,37.50,2022-01-20 16:13:32.500,57b_16_12_08.03.txt,Control
151,137,57b,151.0,0.30125,NaN,NaN,0.943,4.6525,0.483125,0.256875,...,NaN,0.026625,0.014875,49.128,flush,20/01/2022,37.75,2022-01-20 16:13:32.750,57b_16_12_08.03.txt,Control
152,137,57b,152.0,NaN,0.07725,0.33075,0.680,4.3655,NaN,NaN,...,NaN,NaN,NaN,53.324,flush,20/01/2022,38.00,2022-01-20 16:13:33.000,57b_16_12_08.03.txt,Control

In [144]:
df.rename(columns={'Data Points': 'timesteps', f'Humidity (%r.h.)':'humidity'}, inplace=True)

TypeError: rename() got an unexpected keyword argument 'regex'

In [164]:
df.columns.str.replace(r"[(  r.h. )]", "")

/Users/amash/opt/anaconda3/envs/raptor/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Index(['exp_unique_id', 'exp_name', 'timesteps', 'senso_1', 'senso_2',
       'senso_3', 'senso_4', 'senso_5', 'senso_6', 'senso_7', 'senso_8',
       'senso_9', 'senso_10', 'senso_11', 'senso_12', 'senso_13', 'senso_14',
       'senso_15', 'senso_16', 'senso_17', 'senso_18', 'senso_19', 'senso_20',
       'senso_21', 'senso_22', 'senso_23', 'senso_24', 'Humidity',
       'measuement_stage', 'date_exp', 'time_elapsed', 'datetime_exp_stat',
       'datetime_exp', 'filename', 'esult'],
      dtype='object')

In [171]:
field = 'Repeat No. = '
find_header_value(field, filename)[0].split('/')[0]

'2'